<app-header titulo="Albaranes"></app-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row class="tb-header">
            <ion-col class="ion-text-center" size="4">Nº Albarán</ion-col>
            <ion-col class="ion-text-center" size="4">Transportista</ion-col>
            <ion-col class="ion-text-center" size="4">Fecha</ion-col>
        </ion-row>
        <ion-row class="ion-padding" *ngFor="let record of records" routerLink="/albaran">
            <ion-col class="ion-text-center" size="4">{{ record.numero }}</ion-col>
            <ion-col class="ion-text-center" size="4">{{ record.idtransp }}</ion-col>
            <ion-col class="ion-text-center" size="4">{{ record.fecha }}</ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<app-footer></app-footer>
