<ion-content [fullscreen]="true">

  <div class="container">
    <ion-grid class="login">
  
      <ion-row>
        <ion-col>
          <img src="../../../assets/img/logowebwhite.png" alt="Logo DEMAT">        
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre: </ion-label>
            <ion-icon name="accessibility-outline" size="large" slot="start"></ion-icon>
            <ion-input type="text" placeholder="Introduce tu nombre" inputmode="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Contraseña: </ion-label>
            <ion-icon name="keypad-outline" size="large" slot="start"></ion-icon>
            <ion-input type="password" placeholder="Introduce la contraseña" inputmode="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <div class="btn-center">
            <ion-button color="danger" routerLink="/albaranes" expand="block" fill="solid">
              Entrar
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    
    </ion-grid>
  </div>
</ion-content>
