<app-header titulo="Firma" [numAlbaran]="inputAlbaran['numero']"></app-header>

<ion-content [forceOverscroll]="false" class="ion-text-center">
    <div class="ion-padding-vertical">
        <canvas #imageCanvas 
            (mousedown)="startDrawing($event)" (touchstart)="startDrawingTouch($event)" 
            (mousemove)="moved($event)"        (touchmove)="touchMoved($event)" 
            (mouseup)="endDrawing()"           (touchend)="endDrawing()">
        </canvas>
    </div>

    <ion-buttons class="btn-group">
        <ion-button (click)="exportCanvasImage()" expand="block" fill="solid" color="success">Finalizar</ion-button>
        <ion-button (click)="clearCanvas()" expand="block" fill="solid" color="secondary">Limpiar</ion-button>
        <ion-button routerLink="/albaranes" expand="block" fill="solid" color="danger">Atrás</ion-button>
    </ion-buttons>
</ion-content>

<app-footer></app-footer>
