<app-header titulo="Firma de albarán"></app-header>

<ion-content [forceOverscroll]="false">
    <canvas #imageCanvas 
        (mousedown)="startDrawing($event)" (touchstart)="startDrawingTouch($event)" 
        (mousemove)="moved($event)"        (touchmove)="touchMoved($event)" 
        (mouseup)="endDrawing()"           (touchend)="endDrawing()">
    </canvas>

    <ion-buttons class="btn-group">
        <ion-button (click)="exportCanvasImage()" expand="block" fill="solid" color="success">Finalizar</ion-button>
        <ion-button (click)="clearCanvas()" expand="block" fill="solid" color="secondary">Limpiar</ion-button>
        <ion-button routerLink="/" expand="block" fill="solid" color="danger">Volver</ion-button>
        <ion-button routerLink="/" expand="block" fill="solid" color="danger">Atrás</ion-button>
    </ion-buttons>
</ion-content>
